<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" contetnt="width=devide-width, initial-scale=1.0">
    <title>familiares</title>
</head>
<body style="background-color: pink;">
Hola, mundo les muestro a mi familia!

<br><br>Mi nombre es {{ familiar_1.nombre}} tengo {{ familiar_1.edad}} años, naci el {{ familiar_1.fecha_de_nacimiento }} y soy {{familiar_1.parentezco}} de {{ familiar_2.nombre}} y {{familiar_3.nombre}}
<br>Mi {{familiar_2.parentezco}} es {{familiar_2.nombre}} tiene {{familiar_2.edad}} años y nacio el {{familiar_2.fecha_de_nacimiento}}
<br>Mi {{familiar_3.parentezco}} es {{familiar_3.nombre}} tiene {{familiar_3.edad}} años y nacio el {{familiar_3.fecha_de_nacimiento}}


</body>
</html>